.container_characters{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 100px 160px;
    grid-gap: 50px;
    
}

.character_card{
    height: 300px;
    display:flex;
    justify-content: center;
    font-size: 12px;
    text-align: center;
}

.content {
    align-self: flex-end;
    width: 100%;
    background-color: #34414ad6;
    color: white;
    border-radius: 0px 0px 10px 10px;
}



.character_card h1 {
    padding: 5px 0px;
    align-self: flex-end;
    font-size: 19px;
}

.button_character{
    text-align: center;
}






@media screen and (max-width : 2100px){ 

    .container_characters{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: 45px 130px;
        grid-gap: 30px;
        height: auto;
    }

    .character_card{
        height: 370px;
        font-size: 12px;
        text-align: center;
        background-size: cover;
        border-radius: 10px;
        border: 2px solid white;
        background-position: center;
    }

    .button_img{
        
        width: 80px;
        height: 80px;
    }
    
    .content {
        align-self: flex-end;
        width: 100%;
        background-color: #34414ad6;
        color: white;
        border-radius: 0px 0px 10px 10px;
    }
    
    
    
    .character_card h1 {
        padding: 5px 0px;
        align-self: flex-end;
        font-size: 25px;
    }
 

}

@media screen and (max-width: 1199px) {

    .container_characters{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: 45px 90px;
        grid-gap: 30px;
        height: auto;
    }

    .character_card{
        height: 200px;
        font-size: 12px;
        text-align: center;
        background-size: cover;
        border-radius: 10px;
        border: 2px solid white;
        background-position: center;
    }
    .button_img{
        
        width: 60px;
        height: 60px;
    }

    .content {
        align-self: flex-end;
        width: 100%;
        background-color: #34414ad6;
        color: white;
        border-radius: 0px 0px 10px 10px;
    }
    
    .character_card h1 {
        padding: 5px 0px;
        align-self: flex-end;
        font-size: 15px;
    }
    
}

@media screen and (max-width: 991px) {
    .container_characters{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 45px 90px;
        grid-gap: 30px;
        height: auto;
    }

    .character_card{
        height: 200px;
        font-size: 12px;
        text-align: center;
        background-size: cover;
        border-radius: 10px;
        border: 2px solid white;
        background-position: center;
    }
    .button_img{
        
        width: 60px;
        height: 60px;
    }

    .content {
        align-self: flex-end;
        width: 100%;
        background-color: #34414ad6;
        color: white;
        border-radius: 0px 0px 10px 10px;
    }
    
    .character_card h1 {
        padding: 5px 0px;
        align-self: flex-end;
        font-size: 14px;
    }

}

@media screen and (max-width: 766px) {

    .container_characters{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 30px 50px;
        grid-gap: 20px;
        height: auto;
    }

    .character_card{
        height: 150px;
        font-size: 12px;
        text-align: center;
        background-size: cover;
        border-radius: 10px;
        border: 2px solid white;
        background-position: center;
    }
    .button_img{
        
        width: 40px;
        height: 40px;
    }
    .content {
        align-self: flex-end;
        width: 100%;
        background-color: #34414ad6;
        color: white;
        border-radius: 0px 0px 10px 10px;
    }
    
    .character_card h1 {
        padding: 3px 0px;
        align-self: flex-end;
        font-size: 12px;
    }
}



