#Text {
    height: 25vh;
    margin: 10px 0 10px 0;
    border-radius: 5px;
    border: 1px solid #39BEEB;
    width: 92%;
    color: #39BEEB;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    
}

#Name {
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #39BEEB;
    width: 92%;
    color: #39BEEB;
    background-color: rgba(0, 0, 0, 0.7);
    height: 5vh;
    font-size: 18px;

}

#Email {
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #39BEEB;
    width: 92%;
    color: #39BEEB;
    background-color: rgba(0, 0, 0, 0.7);
    height: 5vh;
    font-size: 18px;

}


Button {
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #39BEEB;
    color: #39BEEB;
    background-color: rgba(0, 0, 0, 0.7);
    height: 5vh;
    font-size: 18px;
    align-self: center;

}

 ::placeholder {
     opacity: 0.7;
 }

.form-control {
    width: 90%;
}
form {
    text-align: center;
}

.ReactModal__Content {
    background-image: url('./DS.jpg') !important;
    background-size: cover !important;
    background-position-y: 70% !important;
}

.IconClose {
    width: 5%;
    margin-top: 10px;
}

.IconContact {
    transform: scale(0.7);
    cursor: pointer;
   
    margin-left: 0.5em;
    
}

.container_modal{
    align-self: center;
    max-width: 100%;    
    height: auto;
}

@media all and (min-device-width: 1200px)

{

    .ReactModal__Content {
        width: 80% !important;
        background-position-y: 100% !important;

    }
    .IconContact {
        transform: scale(0.5);
      
        
    }

}

@media all and (max-device-width: 1999px)

{

    .ReactModal__Content {
        width: 80% !important;
        background-position-y: 100% !important;

    }
    .IconContact {
        transform: scale(0.5);
      
        
    }

}

@media all and (max-device-width: 990px)

{

    .ReactModal__Content {
        width: 80% !important;
        background-position-y: 100% !important;

    }
    .IconContact {
        transform: scale(0.5);
      
        
    }

    .IconClose {
        width : 10%;
    }

}

@media all and (max-device-width: 766px)

{

    .ReactModal__Content {
        width: 80% !important;
        background-position-y: 100% !important;

    }
    .IconContact {
        transform: scale(0.7);
      
        
    }

}