.containerProfil {
    display: grid;
    grid-template-columns : repeat(2, 1fr); 
    height: auto;
    grid-gap: 30px;
    margin: 20px;
}

.holoContainer {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    
}

.holoContainer>img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    height: 100%
    
}

.photoProfil {
    
    height: 300px;
    border-radius: 10px;
    border: 3px solid white;
    
}

.textContainer{
    padding-left: 30px;
    padding-top: 20px;
    color: #cad6e1;
}
.profil_text{
    list-style-type: none;
}

@media screen and (max-width : 2100px){ 

    .containerProfil {
        display: grid;
        grid-template-columns : 40% 60%; 
        height: auto;
        grid-gap: 40px;
        margin-top : 50px;
        margin-bottom: 90px;
        margin-right: 350px;
    }
    
    .holoContainer {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 100%; 
    }
    
    .holoContainer>img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 464px;
    }
    
    .photoProfil {
        margin: 0px 20px;
        margin-left: 250px;
        height: 460px;
        
    }
    .textContainer{
        padding-left: 90px;
        padding-top: 0px;
        color: #cad6e1;
    }

    .profil_title{
        font-size: 50px;   
    }

    .profil_text{
        margin-left: 100px;
        font-size: 21px;
        margin-top: 0px;
    }
    

    hr{
        margin-right: 120px;
    }
    .profil_info{
        padding-left: 0px;
    }

    
}

@media screen and (max-width: 1199px) {
    .containerProfil {
        display: grid;
        grid-template-columns : 40% 60%; 
        height: auto;
        grid-gap: 30px;
        margin-top : 40px;
        margin-bottom: 70px;
        margin-right: 130px;
    }
    
    .holoContainer {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 100%; 
    }
    
    .holoContainer>img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 304px;
    }
    
    .photoProfil {
        margin: 0px 20px;
        margin-left: 90px;
        height: 300px;
        
    }
    .textContainer{
        padding-left: 60px;
        padding-top: 0px;
        color: #cad6e1;
    }

    .profil_title{
        font-size: 36px;   
    }

    .profil_text{
        
        font-size: 13px;
        margin-top: 0px;
    }
    
    hr{
        margin-right: 40px;
    }
    .profil_info{
        padding-left: 10px;
    }
   
}

@media screen and (max-width: 991px) {
    .containerProfil {
        display: grid;
        grid-template-columns : 40% 60%; 
        height: auto;
        grid-gap: 20px;
        margin-top : 40px;
        margin-bottom: 70px;
        margin-right: 80px;
    }
    
    .holoContainer {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 100%; 
    }
    
    .holoContainer>img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 304px;
    }
    
    .photoProfil {
        margin: 0px 20px;
        margin-left: 35px;
        height: 300px;
        
    }
    .textContainer{
        padding-left: 30px;
        padding-top: 0px;
        color: #cad6e1;
    }

    .profil_title{
        font-size: 33px;   
    }

    .profil_text{
        
        font-size: 13px;
        margin-top: 0px;
    }
    
    hr{
        margin-right: 40px;
    }
    .profil_info{
        padding-left: 10px;
    }

}

@media screen and (max-width: 766px) {
    .containerProfil {
        display: grid;
        grid-template-columns : repeat(1, 1fr); 
        height: auto;
        grid-gap: 40px;
        margin: 40px;
        margin-bottom: 100px;
    }
    
    .holoContainer {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 100%; 
    }
    
    .holoContainer>img {
        position: absolute;
        top: 0;
        width: 88%;
        height: 270px;
        margin-left: 23px;
    }
    
    .photoProfil {
        margin: 0px 20px;
        height: 290px;
        
    }
    .textContainer{
        padding-left: 28px;
        padding-top: 0px;
        color: #cad6e1;
    }

    .profil_title{
        font-size: 31px;   
    }

    .profil_text{
        
        font-size: 12px;
        margin-top: 0px;
    }
    
    hr{
        margin-right: 40px;
    }
    .profil_info{
        padding-left: 10px;
    }
    
}







.holoContainer>img:nth-child(2),
.holoContainer>img:nth-child(3) {
    top: 0;
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
    clip: rect(0, 0, 0, 0);
}

.holoContainer>img:nth-child(2) {
    animation: glitch-anim-1 2s infinite linear alternate-reverse;
}

.holoContainer>img:nth-child(3) {}

@keyframes glitch-anim-1 {
    0% {
        clip: rect(12.7em, 25em, 400em, 0);
    }

    6% {
        clip: rect(1.5em, 258rem, 400em, 0);
    }

    13% {
        clip: rect(18.9em, 258em, 400em, 0);
    }

    20% {
        clip: rect(2.1em, 258em, 400em, 0);
    }

    26% {
        clip: rect(11em, 258em, 400em, 0);
        opacity: .3;
    }

    33% {
        clip: rect(17.5em, 2220em, -40em, 0);
    }

    40% {
        clip: rect(14em, 258em, 400em, 0);
    }

    46% {
        clip: rect(2.5em, 258em, 400em, 0);
    }

    53% {
        clip: rect(213.9em, 258em, 400em, 0);
    }

    60% {
        clip: rect(12.7em, 25.8em, 40em, 0);
        opacity: .3;
    }

    66% {
        clip: rect(25.6em, 258em, 400em, 0);
    }

    73% {
        clip: rect(1.1em, 258em, 400em, 0);
    }

    80% {
        clip: rect(13.4em, 258em, 400em, 0);
    }

    86% {
        clip: rect(1.7em, 258em, 400em, 0);
    }

    93% {
        clip: rect(17.5em, 258em, 400em, 0);
        opacity: .3;
    }

    100% {
        clip: rect(16.5em, 258em, 400em, 0);
    }
}

@keyframes glitch-anim-2 {
    0% {
        clip: rect(12.7em, 258em, 400em, 0);
    }

    6% {
        clip: rect(15.4em, 258em, 400em, 0);
    }

    13% {
        clip: rect(1.8em, 258em, 400em, 0);
    }

    20% {
        clip: rect(13.8em, 258em, 400em, 0);
    }

    26% {
        clip: rect(1.1em, 258em, 280em, 0);
    }

    33% {
        clip: rect(3em, 258em, 400em, 0);
    }

    40% {
        clip: rect(1.1em, 258em, 400em, 0);
    }

    46% {
        clip: rect(15.2rem, 258em, 400em, 0);
    }

    53% {
        clip: rect(13.9em, 258em, 300em, 0);
    }

    60% {
        clip: rect(40em, 258em, 400em, 0);
        opacity: .3;
    }

    66% {
        clip: rect(15.6em, 258em, 400em, 0);
    }

    73% {
        clip: rect(1.1em, 258em, 400em, 0);
    }

    80% {
        clip: rect(1.3em, 218em, 350em, 0);
    }

    86% {
        clip: rect(17.3em, 258em, 400em, 0);
    }

    93% {
        clip: rect(17.5em, 258em, 400em, 0);
        opacity: .3;
    }

    100% {
        clip: rect(16.5em, 258em, 400em, 0);
    }
}