header {
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    width: 100%
    

    
}

@keyframes logoStarWars {
0% {
    opacity: 0;
    transform: scale(3) translateY(0.95em);
}
20% {
    opacity: 1;
}
89% {
    opacity: 1;
    transform: scale(1);
}
100% {
    opacity: 1;
}
}

.App-logo {
animation: logoStarWars 10s;

}


.header {
perspective: 800px;
transform-style: preserve3d;
}

img {
    width: 20%;
    height: 30%;
// width: 100%;
}

@media screen and (max-width: 766px) {

    @keyframes logoStarWars {
        0% {
            opacity: 0;
            transform: scale(3.2) translateY(0.95em);
        }
        20% {
            opacity: 1;
        }
        89% {
            opacity: 1;
            transform: scale(1.4);
        }
        100% {
            opacity: 1;
        }
        }

        
        .App-logo {
            transform: scale(1.4);
            
            }

}
