.container-grid{
display: grid;
border: 1px solid black;

grid-template-areas:
    'header header header header'
    'r2d2 . . burger'
    'characters characters vehicles vehicles'
    'species species planets planets'
    'planet copyright socials socials';
    grid-template-rows: 60px 40px 80px 80px 60px;
    grid-template-columns: auto;
    align-items: center;
}

.container-grid > div {
    text-align: center;
    height: 100%;
    display: inline-block;
  }
.container-header{
    grid-area: header;
}

.container-r2d2{
    grid-area: r2d2;

}


.container-burger{
    grid-area: burger;

}


.container-characters{
    grid-area: characters;

}

.container-vehicles{
    grid-area: vehicles;

}

.container-species{
    grid-area: species;

}

.container-planets{
    grid-area: planets;

}

.container-planet{
    font-size: 32px;
    text-align: left !important;
    vertical-align: middle;
    background-color: #231f20;
    grid-area: planet;
}

.container-planet img{
    margin-left: 20%;
    vertical-align: middle;
}

.container-copyright{
    background-color: #231f20;
    color: white;
    grid-area: copyright;
}
.container-copyright > span{
    position: relative;
    top: 25%;
    font-size: 20px;
}
.container-socials{
    font-size: 32px;
    text-align: right !important;
    background-color: #231f20;
    grid-area: socials;
}
.container-socials > img{
    margin: 3px;
    vertical-align: middle;
}

.last-logo{
    margin-right: 20% !important;

}
.circle-icon {
    margin: 3px;
    background: yellow;
    padding:10px;
    border-radius: 50%;
}