

.titlecat{
    color: white;
    background-position: center, center;
    height: 390px;
    border-radius: 5px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0px ;
    padding-top: 20px;
    padding-bottom: 30px;
    
}


// .titlecat:hover{
//     background-image: url("./Pictures/StarWars-09.png"),url("./Pictures/Star.gif");
// }

// ********* Mobile *******
// .cards {
// display: grid;
// grid-template-columns: 1fr;
// grid-gap : 20px; 
// }


// @media screen and (min-width : 425px){
// .cards {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-gap : 40px; 
//     margin: 0px 230px;
//     margin-top: 20px;
//     margin-bottom: 60px;
// }
// }

@media screen and (min-width : 1200px){ 
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 45px 310px;
        grid-gap : 40px;
        margin: 0px 20%;
        
        margin-top: 50px;
        margin-bottom: 60px; 
    }
    .titlecat{
        min-height: 280px;
        max-height: 450px;
        padding: 0px;   
    }
    .titlecat h1{
        position: relative; 
        font-size: 1.7em; 
        margin: 0px;
        bottom: 12%;       
} 

}

@media screen and (max-width: 1199px) {

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 45px 310px;
        grid-gap : 30px;
        margin: 5% 20%;
        
    }
    .titlecat{
        min-height: 225px;
        max-height: 280px;
        padding: 0px;  
        border-radius: 7px; 
    }
    .titlecat h1{
        position: relative; 
        font-size: 1.5em; 
        margin: 0px;
        bottom: 11%;       
} 
}

@media screen and (max-width: 990px) {

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 50px 250px;
        grid-gap : 20px;
        margin: 5% 15%;
        
        
    }
    .titlecat{
        
        max-height: 270px;
        padding: 0px;  
        border-radius: 7px; 
    }
    .titlecat h1{
        position: relative; 
        font-size: 1.3em; 
        margin: 0px;
        bottom: 7%;       
} 
}

@media screen and (max-width: 766px) {

    .cards {
        display: grid;
        grid-template-columns:  1fr;
        grid-gap: 15px;
        margin: 5% 0%;
        max-width: 100%;
        height: auto;
        
        
    }
    .titlecat{
        min-height: 225px;
        max-height: 250px;
        padding: 0px;  
        border-radius: 7px; 
    }
    .titlecat h1{
        position: relative; 
        font-size: 1.2em; 
        margin: 0px;
        bottom: 9%;       
} 
}

// @media screen and (min-width: 425px) {

//     .cards {
//         display: grid;
//         grid-template-columns: repeat(2, 1fr);
//         margin: 45px 310px;
//         grid-gap : 20px;
//         margin: 5% 20%;
        
//     }
//     .titlecat{
//         min-height: 160px;
//         max-height: 225px;
//         padding: 0px;  
//         border-radius: 7px; 
//     }
//     .titlecat h1{
//         position: relative; 
//         font-size: 1.2em; 
//         margin: 0px;
//         bottom: 12%;       
// } 
// }




